*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    box-sizing: border-box;
}
button, input[type=button],label input,input,textarea{
    border-radius:0;
    outline: none;
    border: none;
    font-family: "Î¢ÈíÑÅºÚ";
    background: none;
    box-shadow: none;
    appearance: none!important;
    -webkit-appearance: none!important;
}
body {
    background: #F9F9F9;
    font-family: "Î¢ÈíÑÅºÚ",'Helvetica';
    /*max-width: 640px;*/
    margin: 0 auto;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    min-width: 320px;
    letter-spacing: 1px;
}